<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Appender para el archivo de log general -->
    <appender name="FILE_APP" class="ch.qos.logback.core.FileAppender">
        <file>logs/app.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Appender para el archivo de log de request-response -->
    <appender name="FILE_REQ_RESP" class="ch.qos.logback.core.FileAppender">
        <file>logs/req-resp-app.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE_REQ_RESP_API_CLIENT" class="ch.qos.logback.core.FileAppender">
        <file>logs/req-resp-api-client.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Logger específico para una clase o paquete -->
    <logger name="com.meli.middleend.service.impl.LoggingFilter" level="INFO" additivity="false">
        <appender-ref ref="FILE_REQ_RESP"/>
    </logger>
    <logger name="com.meli.middleend.interceptor.LoggingInterceptor" level="INFO" additivity="false">
        <appender-ref ref="FILE_REQ_RESP_API_CLIENT"/>
    </logger>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="FILE_APP"/>
        <appender-ref ref="STDOUT" />
    </root>
</configuration>